body{
  margin:0%;
  font-family: arial, sans-serif;
}

h1,h2,h3,p{
  font-family: 'Noto Sans', sans-serif;
}

a{
  color:inherit;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

.text{
  position:relative;
  text-align:center;
  margin:1%;
}

.pages{
  width:100%;
  height:100%;
  overflow: hidden;
  position: relative;
}

.body{
  position: relative;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100%;
}

.text-top{
  font-size:5em;
  color: #000000;
//  text-shadow: 0.02em 0.02em #FFFFFF, 0.02em -0.02em #FFFFFF, -0.02em -0.02em #FFFFFF, -0.02em 0.02em #FFFFFF, 0 0.02em #FFFFFF, 0 -0.02em #FFFFFF, 0.02em 0 #FFFFFF, -0.02em 0 #FFFFFF;
  text-transform: uppercase;
}

.text-main{
  font-size:6em;
  color: #000000;
//  text-shadow: 0.02em 0.02em #FFFFFF, 0.02em -0.02em #FFFFFF, -0.02em -0.02em #FFFFFF, -0.02em 0.02em #FFFFFF, 0 0.02em #FFFFFF, 0 -0.02em #FFFFFF, 0.02em 0 #FFFFFF, -0.02em 0 #FFFFFF;
  text-transform: uppercase;
}

.text-bottom{
  font-size:2em;
  color: #000000;
}

.extern{
  text-decoration: underline;
}

.next{
  position: absolute;
  display: block;
  width: 7.5%;
  height: 10%;
  left: 90%;
  right: 2.5%;
  bottom: 2.5%;
  text-align: center;
  background: url("../img/downarrow.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  outline: 0;
}

.next:hover{
  background: url("../img/downarrowhover.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  transition-duration: 0.3s;
  background-color: rgba(67,70,138,0.5);
}

#end-next{
  background: url("../img/uparrow.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
}

#end-next:hover{
  background: url("../img/uparrowhover.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  transition-duration: 0.3s;
  background-color: rgba(67,70,138,0.5);
}

#intro{
  background: url("../img/bg-intro.jpg");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #5f7bc0;
}

#topics{
  background: url("../img/bg-team.jpg");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(255, 255, 255, 1);
}

#team{
  background: url("../img/bg-team.jpg");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(255, 255, 255, 1);
}

.seperator{
  position: relative;
  transform: translate(-50%, -50%);
  left: 25%;
  width: 50%;
  height: 100%;
  float: left;
}

.topic{
  position: relative;
  width: 100%;
  height: 50%;
  float: left;
  border-style: solid;
}

.topics-title{
  text-align: center;
  color: #000000;
}

.name{
  text-align: center;
  font-size:1em;
  display: inline;
}

td{
  text-align: center;
}

.topics-link{
  position: absolute;
  display: block;
  width: 15%;
  height: 25%;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  background-color: rgba(210,210,210,1);
  border-style: solid;
  border-width: 2px;
  box-shadow: 0 0 30px 1px #888888;
  z-index: 1;
}

.topics-link:hover{
  transition-duration: 0.3s;
  background-color: rgba(180,180,180,1);
}

.topics-link-text{
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: 1.3em;
}

#link-1{
  top: 37.5%;
  left: 11%;
}
#link-2{
  top: 23%;
  left: 25%;
}
#link-3{
  top: 52%;
  left: 25%;
}
#link-4{
  top: 5%;
  left: 41%;
  width: 18%;
  height: 32%;
}
#link-5{
  top: 63%;
  left: 41%;
  width: 18%;
  height: 32%;
}
#link-6{
  top: 23%;
  left: 60%;
}
#link-7{
  top: 52%;
  left: 60%;
}
#link-8{
  top: 37.5%;
  left: 74%;
}

#topics-back{
  position: absolute;
  display: block;
  width: 80%;
  height: 70%;
  left: 10%;
  top: 15%;
  z-index: 0;
  opacity: 0.3;
}
