body{

  margin:0%;
  font-family: arial, sans-serif;
}

h1,h2,h3,p{
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
}

h1,p{
    font-weight: 100;
}

h2,h3{
    font-weight: 400;
}

a{
  color:inherit;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

.text{
  position:relative;
  text-align:center;
  margin:1%;
}

.pages{
  width:100%;
  height:100%;
  overflow: hidden;
  position: relative;
}

.body{
  position: relative;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100%;
}

.text-top{
  font-size:5em;
  color: #000000;
//  text-shadow: 0.02em 0.02em #FFFFFF, 0.02em -0.02em #FFFFFF, -0.02em -0.02em #FFFFFF, -0.02em 0.02em #FFFFFF, 0 0.02em #FFFFFF, 0 -0.02em #FFFFFF, 0.02em 0 #FFFFFF, -0.02em 0 #FFFFFF;
  text-transform: uppercase;
}

.text-main{
  font-size:6em;
  color: #000000;
//  text-shadow: 0.02em 0.02em #FFFFFF, 0.02em -0.02em #FFFFFF, -0.02em -0.02em #FFFFFF, -0.02em 0.02em #FFFFFF, 0 0.02em #FFFFFF, 0 -0.02em #FFFFFF, 0.02em 0 #FFFFFF, -0.02em 0 #FFFFFF;
  text-transform: uppercase;
}

.text-bottom{
  font-size:2em;
  color: #000000;
}

#intro-body-top{
  font-weight: bold;
}

#intro-body-bottom{
  font-weight: bold;
}

.extern{
  text-decoration: underline;
}

.next{
  position: absolute;
  display: block;
  width: 7.5%;
  height: 10%;
  left: 90%;
  right: 2.5%;
  bottom: 2.5%;
  text-align: center;
  background: url("https://www.doc.ic.ac.uk/~imm1117/img/downarrow.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  outline: 0;
}

.next:hover{
  background: url("https://www.doc.ic.ac.uk/~imm1117/img/downarrowhover.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  transition-duration: 0.3s;
  background-color: rgba(67,70,138,0.5);
}

#end-next{
  background: url("https://www.doc.ic.ac.uk/~imm1117/img/uparrow.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
}

#end-next:hover{
  background: url("https://www.doc.ic.ac.uk/~imm1117/img/uparrowhover.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  transition-duration: 0.3s;
  background-color: rgba(67,70,138,0.5);
}

#intro{
  background: url("https://www.doc.ic.ac.uk/~imm1117/img/bg-intro.jpg");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #5f7bc0;
}

.seperator{
  position: relative;
  transform: translate(-50%, -50%);
  left: 25%;
  width: 50%;
  height: 100%;
  float: left;
}

.topic{
  position: relative;
  width: 100%;
  height: 50%;
  float: left;
  border-style: solid;
}

.topics-title{
  text-align: center;
  color: #000000;
}

.name{
  text-align: center;
  font-size:1em;
  display: inline;
}

td{
  text-align: center;
}

.circle-link{
  position: absolute;
  display: block;
  text-align: center;
  vertical-align: middle;
  box-shadow: 0 0 30px 1px #888888;
  border-radius: 50%;
  z-index: 1;
}

.topics-link{
  width: 15%;
  height: 25%;
  background-color: rgba(210,210,210,1);
  border-style: solid;
  border-width: 2px;
}

.team-link{
  width: 15vw;
  height: 15vw;
  border-style: solid;
  border-width: 10px;
  border-color: #888888;
}

.circle-link:hover{
  transition-duration: 0.3s;
  background-color: rgba(180,180,180,1);
}

.circle-link-text{
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: 1.3em;
  text-align: center;
}

.topics-link-text{
  top: 50%;
}

.team-link-text{
  top: 75%;
  width: 20%;
}

#link-1{
  top: 37.5%;
  left: 11%;
}
#link-2{
  top: 23%;
  left: 25%;
}
#link-3{
  top: 52%;
  left: 25%;
}
#link-4{
  top: 5%;
  left: 41%;
  width: 18%;
  height: 32%;
}
#link-5{
  top: 63%;
  left: 41%;
  width: 18%;
  height: 32%;
}
#link-6{
  top: 23%;
  left: 60%;
}
#link-7{
  top: 52%;
  left: 60%;
}
#link-8{
  top: 37.5%;
  left: 74%;
}

#team-1{
  top: 37.5%;
  left: 12.5%;
  background: url("https://www.doc.ic.ac.uk/~imm1117/cv/img/profileAli.jpg");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
}
#team-2{
  top: 37.5%;
  left: 32.5%;
  background: url("https://www.doc.ic.ac.uk/~imm1117/cv/img/profileClovis.jpg");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
}
#team-3{
  top: 37.5%;
  left: 52.5%;
  background: url("https://www.doc.ic.ac.uk/~imm1117/cv/img/profile.jpg");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
}
#team-4{
  top: 37.5%;
  left: 72.5%;
  background: url("https://www.doc.ic.ac.uk/~imm1117/cv/img/indiaphoto.JPG");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
}

#teamtext-1{
  left: 20%;
}
#teamtext-2{
  left: 40%;
}
#teamtext-3{
  left: 60%;
}
#teamtext-4{
  left: 80%;
}

#topics-back{
  position: absolute;
  display: block;
  width: 80%;
  height: 70%;
  left: 10%;
  top: 15%;
  z-index: 0;
  opacity: 0.3;
}

#footer{
  background-color: #EEEEEE;
  padding: 0.6%;
  bottom: 0;
}

#footer-left{
  display: inline-block;
  width: 30%;
  text-align: left;
}

#footer-middle{
  display: inline-block;
  width: 40%;
  text-align: center;
}

#footer-right{
  display: inline-block;
  width: 30%;
  text-align: right;
}
